<mat-card *ngIf="kontakt else noFoundContact">
  <mat-card-title>Szczegóły kontaktu: {{kontakt.id}}</mat-card-title>
  <mat-card-content>
    <p>Imie Nazwisko: {{kontakt.name}} {{kontakt.surName}}</p>
    <p>Pseudonim: {{kontakt.alias}}</p>
    <p>E-mail: {{kontakt.email}}</p>
    <p>Telefon: {{kontakt.phone}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" routerLink="/">Back</button>
  </mat-card-actions>
</mat-card>
<ng-template #noFoundContact>
  <div class="noFound">
    <h3>{{ 'contact not found' | uppercase }}</h3>
    <button mat-flat-button color="primary" routerLink="/">Back</button>
  </div>
</ng-template>
