<div class="card text-white bg-info mb-3" style=" max-width: 22rem;" *ngIf="selectContact">
  <div class="card-header">
    <h5 class="card-title">Szczegóły kontaktu: {{selectContact.alias}}</h5>
  </div>
  <div class="card-body">
    <p class="card-text">Imie Nazwisko: {{selectContact.name}} {{selectContact.surName}}</p>
    <p class="card-text">Pseudonim: {{selectContact.alias}}</p>
    <p class="card-text">E-mail: {{selectContact.email}}</p>
    <p class="card-text">Telefon: {{selectContact.phone}}</p>
  </div>
</div>
