<form action="">
  <input placeholder="Alias" type="text" name="alias" [(ngModel)]="newContact.alias" required>
  <input placeholder="Name" type="text" name="name" [(ngModel)]="newContact.name" required>
  <input placeholder="Sur Name" type="text" name="surName" [(ngModel)]="newContact.surName" required>
  <input placeholder="E-mail" type="email" name="email" [(ngModel)]="newContact.email" required>
  <input placeholder="Phone" type="tel" name="phone" [(ngModel)]="newContact.phone" required>
  <input type="submit" (click)="addContact()">
</form>
