  <div *ngIf="editKontakt">
    <h3>Edit contact: {{editKontakt.alias}}</h3>
    <form class="edit-form">
      <mat-form-field class="edit-input">
        <input matInput placeholder="Alias" name="alias" [(ngModel)]="editKontakt.alias">
      </mat-form-field>
      <mat-form-field class="edit-input">
        <input matInput placeholder="Name" name="name" [(ngModel)]="editKontakt.name">
      </mat-form-field>
      <mat-form-field class="edit-input">
        <input matInput placeholder="Sur Name" name="surName" [(ngModel)]="editKontakt.surName">
      </mat-form-field>
      <mat-form-field class="edit-input">
        <input matInput placeholder="E-mail" name="email" [(ngModel)]="editKontakt.email">
      </mat-form-field>
      <mat-form-field class="edit-input">
        <input matInput placeholder="Phone number" name="phone" [(ngModel)]="editKontakt.phone">
      </mat-form-field>
    </form>
    <a mat-stroked-button [routerLink]="['/']">Save</a>
  </div>
