/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  padding: 50px 10px;
  background: #e0e0e0;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 575.98px) {
  body {
    padding: 20px 5px;
  }

  .container {
    padding: 3px;
  }
}
